*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05em;
}

body {
    background-color: white;
    color: #ffe600;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-width: 1000px;
}

.gallery-links{
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    grid-gap: 1rem;
    width: 80%;
    max-width: 1200px;
}

.gallery,
a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
}
video{
    width: 80%;
}

.nav-bar {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.name{
    width: 80%;
}
.logo img{
    width: 100%;
    flex-grow: 1;
}

.site-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.nav-links a{
    color: #ffe600;
    text-align: center;
    text-decoration: none;
}

.nav-links a:hover{
    background-color: #ffe600;
    color: white;
}

.nav-links a:active{
    background-color: white;
    color: black;
}

.external-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.external-links a:hover{
    background-color: white;
}

.link-logo{
    z-index: 0;
    height: auto;
    width: 80%;
}

footer{
    font-size: small;
}
