*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffe600;
}

.column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.header{
    border: 1px solid red;
}

.center{
    border: 1px solid darkblue;
}

.left-side{
    border: 1px solid lightblue;
}

.right-side{
    border: 1px solid lightblue;
}

.links{
    border: 1px solid green;
    display: flex;    
}

.web-link{
    border: 1px solid greenyellow;
    width: 100%;
}

.art-link{
    border: 1px solid greenyellow;
    width: 100%;
}

img{
    height: 200px;
    width: 200px;
    background-color: aliceblue;
}