*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.05em;
}

body {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border: 1px red solid; */
    width: 100%;
    max-width: 1000px;
}

.project-links{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-width: 1000px;
    height: 80%;
}

.web-project-link{
    display: flex;
    flex-direction: column;
    background-color: #ffe600;
}

.web-project-link h1,
.web-project-link p{
    padding-left: 10px;
    padding-right: 10px;
}

img{
    width: 100%;
}



.name{
    width: 80%;
}
.logo{
    width: 100%;
    flex-grow: 1;
}

.site-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.external-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer{
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}







/*  */

.nav-bar {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.site-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.nav-links a{
    color: black;
    text-align: center;
    text-decoration: none;
}

.nav-links a:hover{
    background-color: black;
    color: white;
}

.nav-links a:active{
    background-color: white;
    color: #ffe600;
}

.external-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.external-links a:hover{
    background-color: white;
}

.link-logo{
    z-index: 0;
    height: auto;
    width: 80%;
}
